<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" formControlName="email">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" formControlName="username">
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" formControlName="password">
    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" formControlName="password2">    
    <button type="submit">Signup</button>
  </div>
</form>
